<nav class="navbar navbar-dark bg-dark d-flex">
  <%= link_to root_path, class: "text-decoration-none" do %>
    <p class="text-warning m-2 ms-3"><i class="fa-solid fa-ticket"></i> Watch Lists</p>
  <% end %>
  <%= link_to "New List", new_list_path(@list), class: "text-decoration-none text-warning me-3" %>
</nav>

<div class="new_list">
  <h1>New Bookmark</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Back to the list", list_path(@list), class: 'btn btn-light' %>
</div>
